svg {
  font: 10px sans-serif;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.minimapRect {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.4;
    -webkit-box-shadow: 0 0 5px 2px #000;
    -moz-box-shadow: 0 0 5px 2px #000;
    box-shadow: 0 0 5px 2px #000;
}