#d3 svg {
  font: 10px sans-serif;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 22;

}

.minimapRect {
    fill-opacity: 0.4;
}

.geneRect {
    stroke: #000000;
    fill-opacity: 0;
}

#segmentinspector {
    position: absolute;
    bottom: 350px;
    height: 100px;
    width: 100%;
    font-family: "Courier Sans", monospace;
    font-size: 21px;
}

#segmentinspector p {
    margin: 0 0 0 10px;
}

#segmentinspector p span {
    font-weight: 800;
    font-size: 25px;
    color: #ff0000;
}

#d3minimap {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dragged {
    fill: #798082 !important;
}