.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: pointer;
  fill: red;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: purple;
}

#svg_container{
    width: 100%;
    height: 100%;
}