.cytoscape-navigator {
	position: fixed;
	background: #A9C3E3; /*#68788C;*/
	z-index: 99999;
	width: 300px;
	height: 200px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	opacity: 0;
	border-top-left-radius: 5px !important;
}

.cytoscape-navigator > canvas{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
}

.cytoscape-navigatorView{
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	background: #ecf0f1;
	-moz-opacity: 0.50;
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	z-index: 102;
}

.cytoscape-navigatorOverlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 103;
}
