*::-webkit-input-placeholder {
    color: #EEE;
}
*:-moz-placeholder {
    color: #f8f8f8;
}
*::-moz-placeholder {
    color: #f8f8f8;
}
*:-ms-input-placeholder {
    color: #f8f8f8;
}
a {
    text-decoration: none;
}
html, body {
  font-family: 'Open Sans', serif;
  font-weight: 100;
  background-color: #32B2B7;
  letter-spacing: 1px;
}

#stackpane {
  background-color: #32B2B7;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
}

#stackpane .pane {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#d3 {
  position: absolute;
  padding-top: 3px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #32B2B7; /*#ECf0f1;*/
  opacity: 1;
  display: block;
  z-index: 1000;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

/*      Navigation Bar      */
#nav {
    background-color: #54A0AB;
    /**background-color: #7baab3;**/
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px;
    padding: 0px;
}
#nav_wrapper {
    width: 1090px;
    margin: 0 auto;
    text-align: center;
    z-index: 1000;
    font-size: 20px;
}
#logo {
    display: block;
    float: left;
    margin-top: 3px;
    opacity: 0;
}

#logo h1 {
    margin: 0px;
    padding: 0px;
    color: #EEE;
    font-size: 30px;
    font-weight: 100;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
    z-index: 1000;
    cursor: pointer;
}

#nav ul li {
    display: inline-block;
    text-align: left;
    -webkit-transition: background-color 0.3s ease 0s;
    -moz-transition: backgound-color 0.3s ease 0s;
    -ms-transition: backgound-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
}

#nav ul li a, visited {
    color: #E5E5E5;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;

    -webkit-transition: margin 0.3s ease 0s;
    -moz-transition: margin 0.3s ease 0s;
    -ms-transition: margin 0.3s ease 0s;
    transition: margin 0.3s ease 0s;
}

#nav ul ul li a{
    padding: 15px;
}
#nav ul ul li:hover {
    background-color: #5EB3C2;
}
#nav ul li:hover {
    background-color: #5EB3C2;
}

#nav ul li:hover ul {
    display: block;
    -webkit-transition: display 1s ease 0s;
}

#nav ul ul {
    display: none;
    position: absolute;
    background-color: #5EB3C2;
}
#nav ul ul li:hover {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

#nav ul ul li {
    display: block;
}
#nav ul li ul:last-child {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

#nav ul ul li a:hover {
    margin-left: 3px;
}
#nav ul ul li a:hover li{
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
#status {
    background-color: #76b3bb;
    opacity: 0;
}
#viewlist, #settings {
    opacity: 1;
}
/*      End Navigation Bar      */

#options {
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 350px;
    background-color: #32B2B7;
    background-image: url("http://i.imgur.com/ffYuFfC.png?1");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#options img {
    display: none;
    width: 100%;
    height: auto;
}

#options h1 {
    font-weight: 300;
    text-align: center;
    font-size: 50px;
    color: #889DB8;
    margin-bottom: 0px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 50px;
    font-style: normal;
    z-index: 1;
}

#options h2 {
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: #EEE;
    letter-spacing: 4px;
}

#container {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    width: 1000px;
    opacity: 0;
}

#options ul {
    display: block;
    list-style-type: none;
    padding: 0;
    position: relative;
    min-width: 200px;
    width: 1000px;
    z-index: 1000;
    margin: 10px auto;
}

#options ul li {
    display: block;
    margin: 0 auto;
    width: 25%;
    text-align: left;
    /**background-color: #889DB8;**/
    background-color: rgb(0,0,0, 0.2);
    padding: 20px;
    margin-top: 1em;
    border-radius: 5px !important;
    cursor: pointer;
    color: #EEE;
    font-size: 20px;
    -webkit-transition: background-color 300ms ease;
    border: 3px solid #889DB8;
    color: #889DB8;
}

#options ul li:hover {
    background-color: #889DB8; /**98AFCC;**/
    color: #ECF0F1;
    -webkit-transition: background-color 300ms ease;
    -webkit-transition: color 300ms ease;
}

#optionsContainer {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    background-color: #54A0AB;
}

#options #optionsContainer {
    padding: 20px;
    display: none;
}

#options #optionsContainer li {
   padding: 5px;
   background-color: #54A0AB !important;
}

#search {
   display: none;
   position: absolute;
   width: 260px;
   /**height: 50px;**/
   /**background-color: #54A0AB;**/
   background-color: #7baab3;
   top: 0px;
   right: 0px;
   float: right;
   bottom: 0px;
   z-index: 2000;
   padding: 5px 20px 5px 20px;
   opacity: 1;
   overflow: hidden;
}

#search input {
   margin: 0;
   letter-spacing: 1px;
   font-size: 23px;
   border: none;
   width: 255px;
   padding: 3px 7px;
   color: #FFF;
   background-color: rgba(255,255,255,0.3);
   border-radius: 5px;
   margin-left: 0px;
   margin-top: 12px;
   font-weight: 100;
   outline: none;
}

#search #collapseSearch {
    display: block;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.9);
}

#search ul {
   list-style-type: none;
   padding: 0;
   padding-top: 10px;
   margin: 0;
   position: relative;
   min-width: 200px;
   color: #ECF0F1;
   outline: none;
}

#search ul li {
   padding: 3px;
   background-color: rgba(255,255,255,0.3);
   color: #FFF;
   margin-top: 3px;
   width: 250px;
   font-size: 15px;
   cursor: pointer;
}

#search ul li:hover {
   background-color: rgba(255,255,255,0.7);
}

#results {
   margin-top: 5px;
   overflow-y: scroll;
}

#results ul li:first-child {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

#results ul li:last-child {
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}
/**
    Search function for phylotree
**/
#info {
   margin: 0;
   padding: 0;
   display: none;
   position: inline;
   width: 12.5%;
   height: auto;
   border-radius: 5px;
   background-color: #94AAC7;
   color: #ECf0f1;
   float: right;
   right: 20px;
   top: 20px;
   padding: 10px 20px;
   z-index: 5;
   opacity: 0.95;
}
#info>ul>li>img {
    height: 20px;
}
#info div {
   margin: 0;
   padding: 0;
   margin-top: 3px;
   display: relative;
   background-color: #8599B2;
   padding: 1px;
   border-radius: 5px;
}

#info div p {
   margin: 0;
   padding: 0;
   font-size: 20px;
   margin-top: 2px;
   margin-bottom: 2px;
   margin-left: 2px;
   width: 80%;
}

#info ul {
   display: inline;
   list-style-type: none;
   padding: 0;
   padding-top: 10px;
   margin: 0;
   position: relative;
   min-width: 200px;
   color: #ECF0F1;
   outline: none;
}

#info ul li {
  padding: 5px;
  background-color: #728399;
  border-radius: 5px;
  margin: 5px 0px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: background-color 300ms ease;
}

#info ul li:hover {
  background-color: #8AA0BA;
  -webkit-transition: background-color 300ms ease;
}

#tree {
  top: 0;
  left: 0;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  background-color: #32B2B7; /*#ECf0f1;*/
  display: block;
  opacity: 0;
  overflow: scroll;
}

#rotation {
  display: none;
}

#d3 > svg:nth-child(2) {
    vertical-align: bottom;
    float: right;
    max-width: 49%;
}

#optionsgraph {
    display: none;
    width: 49%;
    height: 350px;
    background-color: #54a0ab;
    vertical-align: bottom;
    float: left;

}

.tabs {
    width:100%;
    display:inline-block;
}

    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }

        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:6px 6px 0px 0px;
            background: #54a0ab;
            font-size:16px;
            font-weight:600;
            color:#fff;
            transition:all linear 0.15s;
            text-decoration: none;
        }

        .tab-links a:hover {
            background:#5eb3c2;
            text-decoration:none;
        }

    li.active a, li.active a:hover {
        background:#5eb3c2;
        color:#fff;
    }

    /*----- Content of Tabs -----*/
    .tab-content {
        height: 80%;
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#5eb3c2;
    }

        .tab {
            display:none;
        }

        .tab.active {
            display:block;
        }

#optionsgraph > ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
    .jump {
        margin-top: 5px;
        background-color: #54a0ab;
        border-radius:3px;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        display: block;
    }
    .jump:hover {
        background-color: #5eb3c2;

    }
    .element {
        text-align: center;
        width: 50%;
        float: left;
        height: 100%;
    }
    .element input[type=number] {
        text-align: center;
        padding:5px;
        border:2px solid #ccc;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        width: 50%;
    }




.chosen-container .chosen-results {
    max-height:150px !important;
}


.element>span{
    margin-top: 20px;
    display: block;
    color: #fff;
}

.title {
    font-size: 120%;
    color: #fff;
    font-weight: bold;
}

#metadatasearcher > div.chosen-container.chosen-container-multi {
    width: 100% !important;
}

    .search_item {
        color: #fff;
    }

    .search_item span {
        display: block;
    }

#tab2>.element {
    width: 30%;
    height:1px;
}

#selectedTKKs {
    color: white;
    width: 100%;
    height: 200px;
    background-color: #5eb3c2;
    border-width: 0;
}


body.dragging, body.dragging * {
  cursor: move !important; }

.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000; }

ol.vertical {
  margin: 0 0 9px 0;
  min-height: 10px; }
  ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee; }
  ol.vertical li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }
    ol.vertical li.placeholder:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-top: -5px;
      left: -5px;
      top: -4px;
      border: 5px solid transparent;
      border-left-color: red;
      border-right: none; }

ol {
  list-style-type: none; }
  ol i.icon-move {
    cursor: pointer; }
  ol li.highlight {
    background: #333333;
    color: #999999; }
    ol li.highlight i.icon-move {
      background-image: url("../img/glyphicons-halflings-white.png"); }

ol.nested_with_switch, ol.nested_with_switch ol {
  border: 1px solid #eeeeee; }
  ol.nested_with_switch.active, ol.nested_with_switch ol.active {
    border: 1px solid #333333; }

ol.nested_with_switch li, ol.simple_with_animation li, ol.serialization li, ol.default li {
  cursor: pointer; }

ol.simple_with_animation {
  border: 1px solid #999999; }

.switch-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px; }

.navbar-sort-container {
  height: 200px; }

ol.nav li, ol.nav li a {
  cursor: pointer; }
ol.nav .divider-vertical {
  cursor: default; }
ol.nav li.dragged {
  background-color: #2c2c2c; }
ol.nav li.placeholder {
  position: relative; }
  ol.nav li.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: red;
    top: -6px;
    margin-left: -5px;
    border-bottom: none; }
ol.nav ol.dropdown-menu li.placeholder:before {
  border: 5px solid transparent;
  border-left-color: red;
  margin-top: -5px;
  margin-left: none;
  top: 0;
  left: 10px;
  border-right: none; }

.sorted_table tr {
  cursor: pointer; }
.sorted_table tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none; }
  .sorted_table tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none; }

.sorted_head th {
  cursor: pointer; }
.sorted_head th.placeholder {
  display: block;
  background: red;
  position: relative;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0; }
  .sorted_head th.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: red;
    top: -6px;
    margin-left: -5px;
    border-bottom: none; }
 s > ol > li:nth-child(1)

#tab3 > .element > ol > li {
    backgound-color: white;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    margin: 5px;
}

/*#tab3 > .element {*/

.btn-toolbar {
    margin: 10px !important;
}

#tree_ {
    overflow: scroll;
}

.pane {
    overflow: scroll;
}

#legend {
    display: block;
    width: 300px;
    height: 155px;
    background-color: rgba(123, 170, 179, 0.9);
    position: fixed;
    top: 70px;
    left: 20px;
    border-radius: 5px;
    margin: 0px;
    padding: 7px;
    cursor: move;
}

#legend span {
    display: inline-block;
    margin: 5px 2px;
    color: #ECF0F1;
    padding: 5px;
    cursor: pointer;
    width: 96%;
    background-color: #728399;
    border-radius: 5px;
}

#legend span:hover {
    background-color: #7d88bd;
    -webkit-transition: background-color 300ms ease;
}

#legend > div {
   margin: 0;
   padding: 0;
   margin-top: 3px;
   display: relative;
   background-color: rgba(255, 255, 255, 0.3);
   padding: 1px;
   border-radius: 5px;
}

#legend #color {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #F00;
    float: right;
    position: relative;
    top: 3px;
    right: 3px;
    border-radius: 3px;
}

#legend div p {
   margin: 0;
   padding: 0;
   font-size: 15px;
   margin-top: 2px;
   margin-bottom: 2px;
   margin-left: 4px;
   width: 80%;
   color: #ECF0F1;
}

#legend ul {
   display: inline;
   list-style-type: none;
   padding: 0;
   padding-top: 10px;
   margin: 0;
   position: relative;
   min-width: 200px;
   color: #ECF0F1;
   outline: none;
}

#legend ul li {
  padding: 5px;
  background-color: #728399;
  border-radius: 5px;
  margin: 5px 0px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: background-color 100ms ease;
}

#legend ul li:hover {
  background-color: #7d88bd;
  -webkit-transition: background-color 300ms ease;
}

ol.highlighted {
    height: 170px;
    overflow-y: auto;
}