html, body, #tree{
    height: 100%;
    overflow: hidden;
    background: #EBEFF0;
}

.treenode circle {
  fill: #fff;
  stroke: #5EB3C2; /*steelblue;*/
  stroke-width: 1.5px;
}

.treenode, text {
  font: 8px sans-serif;
}

.treelink {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
}

treetext {
  fill: #000;
}

#tree, #phyloTree{
    display: block;
    margin: 0 auto;
}

#rotation{
  border: 20px solid transparent;
  border-top-color: #32B2B7;
  border-left-color: #32B2B7;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  right: 10px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin:30px auto;
  background:transparent;
}
#rotation:before{
  content: "";
  position: absolute;
  top: 70%;
  left: 0px;
  height: 0;
  width: 0;
  border-left: 30px solid #32B2B7;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#rotation:after{
  content: "";
  position: absolute;
  top: -20px;
  left: 80%;
  height: 0;
  width: 0;
  border-left: 30px solid #32B2B7;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}