html, body, #tree{
    height: 100%;
}

.treenode circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.treenode, text {
  font: 8px sans-serif;
}

.treelink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

treetext {
  fill: #000;
}

#tree, #phyloTree{
    display: block;
    margin: 0 auto;
}

.svg-pan-zoom_viewport{
    background-color: black;
    fill: #000;
}


#rotation{
    display: block;
    background-color: black;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
}